/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "../../common.scss";
.wp-block-futurelab-block-fl-block-image-text {
	// background: $red;
	// border: 0.2rem solid $black;
	// color: $black;
	margin: 0 auto;
	// max-width: 740px;
	// padding: 2rem;
	.callout {
		&::after {
			content: "";
			@include css-triangle(1rem, red, down);
		}
	}

	// include grid from foundation
	@include foundation-xy-grid-classes(
		/* options
		$base-grid: true,
		$margin-grid: true,
		$padding-grid: true,
		$block-grid: true,
		$collapse: true,
		$offset: true,
		$vertical-grid: true,
		$frame-grid: true
		*/
	);
	.wp-block-media-text__media {
		// padding: 30px;
		img {
			// margin-top: 1.5rem;
			box-shadow: $box-shadow;
			border-radius: 0px;
			width: 90%;
			height: 450px; // TODO:this is the quick fix, have to find a way to fill the div
			// object-fit: cover;
			// width: 100%;
		}
	}

	.text-content {
		padding: 30px 80px 30px 30px;
	}
	/* Header width */
	@media print, screen and (min-width: 40em) {
		.grid-container:not(.full) > .grid-padding-x {
			margin-right: 0rem !important;
			margin-left: 0rem !important;
		}
	}
}
