/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import '../../common.scss';
.wp-block-futurelab-block-fl-block-image-text {
	margin: 0 auto;
	.callout {
		&::after {
			content: '';
			@include css-triangle(1rem, red, down);
		}
	}

	// include grid from foundation
	@include foundation-xy-grid-classes(
		/* options
		$base-grid: true,
		$margin-grid: true,
		$padding-grid: true,
		$block-grid: true,
		$collapse: true,
		$offset: true,
		$vertical-grid: true,
		$frame-grid: true
		*/
	);
	.wp-block-media-text__media {
		// padding: 30px;
		height: 100%;
		img {
			box-shadow: $box-shadow;
			border-radius: 0px;
			width: 90%;
			height: 100%; // TODO:this is the quick fix, have to find a way to fill the div
			object-fit: cover;
			@include mobiles-all {
				width: 100%;
				height: auto;
			}
		}
	}

	.text-content {
		padding: 30px 80px 0px 30px;
		height: auto;
		@include mobiles-all {
			padding: 0.9375rem;
		}
		.wp-block-button {
			margin-top: 0em;
			margin-bottom: 0em;
			.wp-block-button__link {

			}
		}
	}
	/* Header width */
	@media print, screen and (min-width: 40em) {
		.grid-container:not(.full) > .grid-padding-x {
			margin-right: 0rem !important;
			margin-left: 0rem !important;
		}
	}
}
