/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-futurelab-block-fl-block-gallery {
  .current-gallery-slide {
    order: -1;
  }
  .image-container {
    width:100%;
    display: block;
    float:left;
    clear:both;
  }
  .gallery-utilities{
    width:100%;
    display: block;
    float:left;
  }
  .move-item{
    width:40%;
    clear:none;
    float:left;
    display: inline-block;
  }
  .remove-item{
    width:100%;
    clear:both;
    display: block;
  }

  .components-button{
    &.button{

    }
  }
}
