/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "../../common.scss";

.wp-block-futurelab-block-fl-block-slider2 {
	margin: 0px auto 4em;
	.swiper-container {
		width: 100%;
		height: auto;
		.swiper-wrapper {
			.swiper-slide {

				width: 100%;
				text-align: center;
				font-size: 18px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 60%;
				min-height: 600px;
				.slider-container {
					display: flex;
					justify-content: space-between;
					.slide-content-container {
						.slide-title {
							width: 100%;
							display: flex;
							justify-content: center;
							text-align: left;
							margin-top: 120px;
						}
						.slide-content {
							width: 100%;
							// height: 160px;
							display: flex;
							justify-content: center;
							text-align: left;
						}
						.slide-btn-container {
							width: 100%;
							display: flex;
							justify-content: center;
							.slide-btn {
							}
							.fl-button {
								@include fl-button-mixin;
							}
						}
					}
					.slide-video-container {
						// width: 50%;
						.slide-video {
							margin-top: 120px;
							height: 400px;
						}
					}
				}
			}
			.overlay-slider {
				box-shadow: inset 0px 5px 6px -6px;
				background: linear-gradient(
					to right,
					$light 35%,
					rgba(255, 255, 255, 0) 60%
				);
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
			}

			.mobile-slider {
				height: 300px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 60%;
			}

			@include mobiles-all {
				.swiper-slide {
					.slider-container {
						.slide-content-container {
							background-size: cover;
							.slide-title {
								justify-content: center;
								margin-top: 40px;
								margin-left: 0px;
								width: 100%;
								line-height: 32px;
								text-align: center;
							}
							.slide-content {
								justify-content: center;
								margin-top: 20px;
								margin-left: 0px;
								padding: 0px 20px;
								width: unset;
								line-height: 32px;
								text-align: center;
							}
							.slide-btn-container {
								width: 100%;
								justify-content: center;
								.slide-btn {
									padding: 0 20px;
								}
								.fl-button {
									@include fl-button-mixin;
								}
							}
						}
					}
				}
				.overlay-slider {
					box-shadow: none;
					background: $light;
					width: 100%;
					position: relative;
					min-height: 300px;
					// position: absolute;
					// top: 300px;
					.alignwide {
						padding-right: 0rem;
						padding-left: 0rem;
					}
					.slider-container {
						.slide-content-container {
							.slide-title {
								margin-top: 20px;
							}
						}
						.slide-video-container {
							.slide-video {
								margin-top: 20px;
							}
						}
					}
				}
			}

			@include tablets-portrait {
				.mobile-slider {
					display: none; // hide mobile slider in tablet
				}
			}
		}
		// overwrite swiper style
		.swiper-pagination {
			clear: both;
			margin: 5px;
			position: absolute;
			left: 10%;
			bottom: 80px;
			right: auto;
			width: auto;
			.swiper-pagination-bullet {
				margin: 0 4px;
				background: var(--palettedark);
				width: 12px;
				height: 12px;
				font-size: 12px;
			}
		}

		@include mobiles-all {
			// overwrite swiper style
			.swiper-pagination {
				clear: both;
				margin: 5px;
				position: absolute;
				left: 46%;
				bottom: 80px;
				right: auto;
				width: auto;
				.swiper-pagination-bullet {
					margin: 0 4px;
					background: var(--palettedark);
					width: 12px;
					height: 12px;
					font-size: 12px;
				}
			}
		}

		.swiper-button-prev {
			display: none;
		}
		.swiper-button-next {
			display: none;
		}
		.arrow-custom {
			height: 50px;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $dark;
			border-radius: 50%;
			cursor: pointer;
			transition: transform ease-in 0.1s;
		}
		.scrolldown-arrow {
			margin: auto;
			margin-top: -25px;
			z-index: 99;
			position: relative;
		}

		@include mobiles-all {
			.scrolldown-arrow {
				display: none;
			}
		}
	}
}
