// Theme button style
@import "../common.scss";
.is-style-fl-customized-button {
	.block-editor-rich-text {
		.components-autocomplete {
			.wp-block-button__link {
				// border: 1px;
				// border-color: #0693e3;
				// border-radius: 8px;
				// border-style: solid;
				// background-color: #ffffff;
				// color: #0693e3;
				// .wp-block-button__link {
				// 	color: #0693e3;
				// }
				@include fl-button-mixin;
			}
		}
	}
}
// theme button placeholder style
.is-style-fl-customized-button:not(.has-text-color):not(.is-style-outline)
	.block-editor-rich-text__editable[data-is-placeholder-visible="true"]
	+ .block-editor-rich-text__editable {
	color: #0693e3;
}
// button front end style
.is-style-fl-customized-button .wp-block-button__link {
	border: 1px;
	border-color: #0693e3;
	border-radius: 8px;
	border-style: solid;
	background-color: #ffffff;
	color: #0693e3;
	.wp-block-button__link {
		color: #0693e3;
	}
}

/* Custom separator shadow*/
hr.is-style-fl-customized-separator-shadow-bottom {
	border: 10px solid white;
	height: 10px;
	background-color: transparent;
	box-shadow: $box-shadow-bottom;
	max-width: none;
	margin: 0 auto;
}

/* Custom separator shadow*/
hr.is-style-fl-customized-separator-shadow-above {
	border: 10px solid white;
	height: 10px;
	background-color: transparent;
	box-shadow: $box-shadow-top;
	max-width: none;
	margin: 0 auto;
}

/* Custom separator no shadow*/
hr.is-style-fl-customized-separator-line {
	background-color: $text-gray;
	border: 0;
	height: 1px;
	// margin-bottom: 1.5em;
	//   margin: 0 auto;
	max-width: none;
	margin: 0 auto;
}
