/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

@import "../../common.scss";

.wp-block-futurelab-block-my-team {
	// include grid from foundation
	@include foundation-xy-grid-classes(
		/* options
       $base-grid: true,
       $margin-grid: true,
       $padding-grid: true,
       $block-grid: true,
       $collapse: true,
       $offset: true,
       $vertical-grid: true,
       $frame-grid: true
       */
	);
}
