/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-futurelab-block-fl-block-flex-gird1 {
	.grid-placeholder {
		.button-container {
			// display: flex;
			// justify-content: space-between;
			// flex-direction: column;
		}
	}
	// .block-editor-block-list__layout {
	// 	display: flex;
	// 	justify-content: space-between;
	// }
	.fl-selected-layout {
		display: flex;
		.editor-inner-blocks {
			display: flex;
			.editor-block-list__layout {
				display: flex;
				justify-content: space-between;
				.block-editor-block-list__block {
					.block-editor-block-list__block-edit {
						.fl-innerblock {
							.block-editor-inner-blocks {
								.block-editor-block-list__layout {
									// for innerblock align
									display: flex;
									flex-direction: column;
								}
							}
						}
					}
				}
			}
		}
	}
}
