.wp-block-latest-posts {
	.post-item {
		position: relative;
		text-align: center;
		border-radius: 15px 15px 0 0;
		.post-image {
			display: block;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			border-radius: 15px 15px 0 0;

			a {
				flex-shrink: 0;
				min-width: 100%;
				min-height: 100%;
			}
		}

		.post-text-content {
			@include box-shadow-below;
			@include box-border-radius-bottom;
		}

		.post-category {
			display: block;
			text-align: left;
			padding: 8px 1rem 8px 1rem;
			color: $text-black;
			letter-spacing: -0.49px;
			font-weight: 500;
			p {
				color: $text-black;
			}
		}

		.post-title {
			display: block;
			text-align: left;
			padding: 8px 1rem 8px 1rem;
			color: $text-black;
			font-size: 20px;
			letter-spacing: -0.49px;
			font-weight: 500;
			line-height: 26px;

			a {
				color: $text-black;
				text-transform: none;
				font-size: 20px;
				line-height: 26px;
				text-decoration: none;
			}
		}

		.wp-block-latest-posts__post-date {
			display: block;
			text-align: left;
			padding: 8px 1rem 8px 1rem;
			font-size: 14px;
			font-weight: 600;
			color: $dark;
			text-transform: uppercase;
		}

		.wp-block-latest-posts__post-excerpt {
			display: block;
			text-align: left;
			padding: 8px 1rem 1rem 1rem;
			min-height: 120px;
		}

		.post-more-arrow {
			font-style: normal;
			font-size: 25px;
			height: 50px;
			/* line-height: 40px; */
			width: 50px;
			position: relative;
			right: -80%;
			top: -25px;
			z-index: 999;
			color: #ffffff;
			background-color: var(--palettedark);
			border-radius: 50%;
			background-image: url("../src/blocks/latest-news/images/icon_arrow_right.svg");
			background-size: 20px 20px;
			background-position-x: 15px;
			background-position-y: 16px;
			background-repeat: no-repeat;
			img {
				min-width: 40px;
				min-height: 40px;
				max-width: 100%;
			}
		}

		.image-placeholder {
			display: block;
			width: 100%;
			height: 180px;
			background-color: #eee;
		}

		time {
			// margin-top:15px;
			padding-top: 0;
		}

		.news-caption {
			margin-top: -50px; /**because the arrow above is 50px and is pos relative**/
		}
	}
}
