/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// TODO: How can I do @import "foudation";???? Maynedd to eject from CGB...
@import "../node_modules/foundation-sites/scss/foundation";
@import "../node_modules/foundation-sites/scss/global";

// import primary color from theme
@import "../../../themes/futurelab-base-theme/assets/scss/mixins.scss";
// @import "../../../themes/futurelab-base/assets/scss/blocks.scss";

/* methods
-------------------------- */
// background image
@mixin bg($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

// center vertical and horizontal
@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// center vertical
@mixin ct {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// center horizontal
@mixin cl {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

// height and width
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}

// font size and color
@mixin sc($size, $color) {
	font-size: $size;
	color: $color;
}

// flex justify conent
@mixin fj($type: space-between) {
	display: flex;
	justify-content: $type;
}

// background image
@mixin fl-button-mixin() {
	background-color: $dark;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid $dark;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding: 16px 76px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}
