/*
 * @Author: Hank 
 * @Date: 2019-08-19 10:08:01 
 * @Last Modified by: Hank
 * @Last Modified time: 2019-08-19 10:08:45
 */

// Block reuse styles.

// fix for duplicated, alignwide and alignfull
.alignwide {
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	max-width: 75rem;
	margin: 0 auto;
}

.alignfull {
	max-width: none;
	margin: 0 auto;
}